@font-face {
  font-family: 'Artegra';
  src: url('./ArtegraSans-Regular.otf') format('opentype');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Artegra';
  src: url('./ArtegraSans-Semibold.otf') format('opentype');
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'Artegra';
  src: url('./ArtegraSans-Bold.otf') format('opentype');
  font-weight: 700;
  font-style: normal;
}
